:root{
    --main-gray: rgb(192, 192, 192);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition-duration: 0.2s;
}

body{
    background-color: rgb(212, 212, 212);
}

.todo-container{
    width: 240px;
    border-radius: 5px;
    margin: 40px;
    background-color: rgb(233, 233, 233);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2), -10px -10px 20px rgb(255, 255, 255);
}

.todo-header{
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px;
    cursor: pointer;
}

.todo-body{
    border: 1px solid black;
    border-radius: 3px;
    margin: 5px 2px;
    padding: 5px;
    cursor: pointer;
}

/* HOVER */
.todo-header:hover{
    background-color: var(--main-gray);
}

.todo-body:hover{
    background-color: var(--main-gray);
}