.search-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-input{
    width: 500px;
    height: 30px;
    border: none;
    padding: 10px;
    border-radius: 3px 0 0 3px;
}

.search-input:focus{
    outline: none;
}

.button-search{
    padding: 5px;
    border: none;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    color: white;
    background-color: rgb(38, 95, 252);
}

.button-search:hover{
    filter: brightness(0.7);
}