:root{
    --main-gray: rgb(192, 192, 192);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(219, 219, 219);
}

.todo-container{
    display: flex;
    padding: 80px 0;
    gap: 20px;
}

.todo{
    width: 240px;
    height: max-content;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.todo-header{
    text-align: center;
    border-radius: 3px;
    margin: 2px;
}

.todo-body{
    border: 1px solid rgb(182, 182, 182);
    border-radius: 3px;
    margin: 5px 2px;
    padding: 5px;
}

.button {
    transition-duration: 0.2s;
}

.button-container{
    margin: 2px;
    display: flex;
    justify-content: flex-end;
    gap: 3px;
}

.button{
    padding: 3px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button-edit{
    color: white;
    background-color: rgb(38, 95, 252);
}

.button-delete{
    color: white;
    background-color: rgb(156, 22, 22);
}

/* HOVER */
.button:hover{
    filter: brightness(0.7);
}